<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#" (click)="onSelect('shopping')">Shopping List</a></li>
          <li><a href="#" (click)="onSelect('recipe')">Recipe List</a></li>
        </ul>  
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
                Manage <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Save</a></li>
              <li><a href="#">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </nav>
  </div>
</div>