<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label for="item">Item Name:</label>
      <input type="text" class="form-control" id="item"> 
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="item">Amount:</label>
      <input type="text" class="form-control" id="item"> 
    </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-success">Add</button>
  <button class="btn btn-priamry">Clear</button>
  <button class="btn btn-danger">Delete</button>
</div>