<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label for="item">Item Name:</label>
      <input type="text" class="form-control" id="item" #itemAdded> 
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="item">Amount:</label>
      <input type="text" class="form-control" id="item" #amountAdded> 
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="btn-group">
			<button class="btn btn-success" (click)="onAdd()">Add</button>
			<button class="btn btn-priamry">Clear</button>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>
</div>