<div class="row">
	<div class="col-xs-12">
		<h3>Recipe Name</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div appDropdown class="dropdown btn-group">
		  <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret">
        </span>
      </button>
			<ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
			</ul>
		</div>
	</div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
     <span class="pull-right">
        <img [src]="elementDesc.imgUrl" alt="{{ elementDesc.recepieName }}" class="img-responsive" style="{max-height:'50px'}">
      </span>
      <br>
      <input type="text" class="form-control" innerText="{{elementDesc.recepieName}}">
      <input type="text" class="form-control" [innerText]="elementDesc.recepieDescription">      
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{elementDesc.recepieName}}
  </div>
</div>